:root {
  /* set global colors */
  --primary-color: #ffffff;
  --secondary-color: #2d2727;
  --accent-color: #f65282;
  --background-color: #1b1b1b;
}

body {
  background-color: var(--background-color);
}

h1,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 66px;
  line-height: 77px;
  letter-spacing: 6.6px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2.4px;
  font-weight: 400;
}

h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 3.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--accent-color);
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: var(--primary-color);
}

ul {
  padding: 0;
}

/* nav bar */
.nav-bar {
  background: #202020;
}

.container.menu {
  background: #202020;
  padding-top: 34px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1.6px;
  line-height: 40px;
  color: var(--primary-color);
  text-decoration: none;
}

.logo:hover {
  color: var(--primary-color);
}

nav li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style: none;
  display: inline;
  margin-left: 30px;
  line-height: 44px;
}

nav li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--accent-color);
}

nav li.active a {
  color: var(--accent-color);
}

/* buttons */
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  border-radius: 50px;
  padding: 15px 34px;
  cursor: pointer;
}

.btn-white {
  background: var(--primary-color);
  color: var(--accent-color);
}

.btn-white:hover {
  background: var(--accent-color);
  color: var(--primary-color);
  transition: all 250ms ease-in-out;
}

.btn-accent {
  background: var(--accent-color);
  color: var(--primary-color);
}

.btn-accent:hover {
  background: var(--primary-color);
  color: var(--accent-color);
  transition: all 250ms ease-in-out;
}

.buttons .btn-white {
  margin-right: 40px;
}

/* Home page hero */
.hero {
  background-image: url(/images/Hero-Image.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  max-height: 800px;
  padding: 24% 12%;
}

.hero-text p {
  width: 35%;
}

.container.content {
  display: block;
  margin: 94px auto;
}

/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  max-width: 1152px;
  padding: 0;
}

.gallery > li {
  height: auto;
  position: relative;
  flex: 1 1 auto;
}

.gallery li img {
  object-fit: cover;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.gallery li img:hover {
  opacity: 0.7;
}

/* contact block */
.contact-cta {
  background-color: var(--secondary-color);
  border-radius: 8px;
  margin: 94px auto;
  max-width: 1152px;
  padding: 46px 74px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* images - About page */
.headshot {
  object-fit: cover;
}

.img-thumbnail {
  background: none;
  border: none;
  width: 100px;
}

/* content - About page */
.about-text p {
  width: 85%;
}

.camera-box {
  background-color: var(--secondary-color);
  padding: 8px 20px 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  width: 75%;
}

/* social icons and links */
.social-icons {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: var(--primary-color);
  font-size: 24px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-color);
  font-size: 24px;
}

.social-icons a:hover {
  color: var(--accent-color);
}

.social-icons-footer a {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-color);
  font-size: 24px;
}

.social-icons-footer a:hover {
  color: var(--accent-color);
}

.social-icons-footer {
  gap: 20px;
}

/* contact page */
.contact-container h1 {
  margin-bottom: 8%;
}

.contact-container {
  padding-bottom: 40px;
}

.contact-icon {
  font-size: 18px;
  padding-right: 10px;
}

.contact-text {
  flex-direction: column;
  align-items: center;
}

.contact-content {
  padding: 10px;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

/* footer */
.footer-bar {
  background: #202020;
}

.footer.logo {
  line-height: 24px;
}

/* responsive media queries */
@media (max-width: 1399px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.4px;
  }
  p {
    font-size: 14px;
    line-height: 1.3;
    width: 260px;
  }

  .btn {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 13px 28px;
  }
  .hero {
    padding: 33% 10% 12%;
  }
}

/* mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }
  h2 {
    font-size: 18px;
    line-height: 0.8;
    letter-spacing: 1px;
  }
  p {
    font-size: 12px;
    line-height: 1.2;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }
  h4 {
    font-size: 14px;
  }
  .container {
    margin: 55px auto;
  }
  .btn {
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px 24px;
    margin: 0 auto;
  }
  .hero {
    padding: 53% 10% 15%;
    text-align: center;
    background-position: center right;
  }
  .hero-text p {
    width: 50%;
  }
  .mt-4 {
    margin-top: 1rem !important;
  }
  .mb-4 {
    margin-bottom: 1rem !important;
  }
  .gallery .contact-cta {
    margin: 0 5%;
  }
  .about-text {
    text-align: center;
  }
  .camera-box {
    width: 100%;
    margin-top: 25px;
  }
  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons .btn-white {
    margin: 20px;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 24px;
  }
  .contact-cta {
    flex-wrap: wrap;
  }
  .about-text {
    text-align: center;
    width: 100%;
  }
  .about-text p {
    text-align: center;
    margin: 0 auto;
  }
  .camera-box {
    width: 100%;
    margin-bottom: 75px !important;
  }
  .buttons {
    justify-content: center;
    flex-direction: column;
  }
  .buttons .btn {
    margin: 15px auto;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
  ul {
    margin: 0 auto;
  }
  nav {
    flex-direction: column;
    justify-content: center;
  }
  nav li {
    font-size: 14px;
    margin-left: 20px;
  }
  .contact-cta {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contact-cta p {
    width: 100%;
  }
  .contact-cta-btn {
    margin-top: 15px;
  }
  .logo {
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
  }
  .home {
    margin-left: 0;
  }
  .footer-content {
    flex-direction: column;
    gap: 15px;
  }
  .footer-content p {
    display: block;
    margin: 0 auto;
  }
  .social-icons-footer {
    gap: 15px;
    display: block;
    margin: 0 auto;
  }
  .social-icons-footer a {
    font-size: 16px;
  }
  .contact-container {
    padding-bottom: 0;
  }
}
